.article-card {
   
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px solid;
    border-block-color: #d4d4d4;
    
  }
  .article-card h3 {
    margin-top: 0;
  }   
   .article{
color:#0059bf;

   }
  