.article-card {
   
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .article-card h3 {
    margin-top: 0;
  }   
   .article{
color:#0059bf;

   }
   hr{
    border:0.5px solid d4d4d4;
   }